.nav {
  display: flex;
  justify-content: flex-end;
}
ul {
  list-style: none;
  padding-left: 0;
}
ul > li > a {
  width: auto;
  line-height: 30px;
  padding: 5px 10px;
}
ul > li > a:hover {
  background-color: #ccc;
}
.menu {
  position: relative;
}
.menu > li {
  display: inline-block;
}

.menu > li >.menu__submenu {
  display: none;
  position: absolute;
  left: 62px;
}
.menu > li:hover >.menu__submenu {
  display: block;
}
.menu > li >.menu__submenu > li >.menu__submenu {
  position: absolute;
  display: none;
  top: 60px;
  left: 65px;
  z-index: -1;
}
.menu > li >.menu__submenu > li:hover >.menu__submenu {
  position: absolute;
  display: block
}
.menu__megamenu {
  display: none;
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  background-color: #ccc;
  padding-bottom: 10px;
}
.menu__list:hover .menu__megamenu{
  display: block;
}


// mobile
.nav-mobile {
  width: 100%;
  position: fixed;
  top: 110px;
  left: 0;
  background-color: #ccc;
  transition: all 0.5s;
  transform: translateX(1000px);
}
.nav-mobile--active {
  width: 100%;
  position: fixed;
  top: 110px;
  left: 0;
  background-color: #ccc;
  transition: all 0.5s;
  transform: translateX(0);
  overflow-x: hidden;
  overflow-y: auto;
}
.menu-mobile {
  text-align: center;
}
.menu-mobile__list >.menu-mobile__submenu {
  display: none;
}
.menu-mobile__list--active >.menu-mobile__submenu {
  display: block;
}

.menu-mobile__megamenu {
  display: none;
  width: 100%;
  background-color: #fff;
  padding-bottom: 10px;
}

.menu-mobile__list >.menu-mobile__megamenu {
  display: none;
}
.menu-mobile__list--active >.menu-mobile__megamenu {
  display: block;
}
#icon-bar {
  position: absolute;
  display: none;
  font-size: 30px;
  top: 40px;
  right: 35px;
  cursor: pointer;
  z-index: 1000;
}
#icon-time {
  display: none;
  position: absolute;
  font-size: 30px;
  top: 40px;
  right: 35px;
  cursor: pointer;
  z-index: 1000;
}

