{% import "../../shared/megaMenu/megaMenu.twig" as megaMenu %}
{% import "../../shared/menu/menu.twig" as menu %}
{% import "../../shared/menuMoblie/menuMoblie.twig" as menu1 %}
{# {% import "../../shared/menuMobile/menuMoblie.twig" as menuMobile %} #}
<section class="page-section" style="background-color:black;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-2 col-lg-2">
				<img src="../../img/logo1.png" alt="logo">
			</div>
			<div class="col-md-9 col-lg-10">
				<nav id="nav" class="nav">
					<ul class="menu">
						{{menu.render({ data: menuSection, dirName: "../../containers/megaMenuSection/" })}}
					</ul>
				</nav>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      	<nav id="nav-mobile" class="nav-mobile">
          <ul id="menu-mobile" class="menu-mobile">
				    {{menu1.render({ data: menuMobileSection, dirName: "../../containers/megaMenuSection/" })}}
          </ul>
        </nav>
			</div>
		</div>
	</div>
</section>
