{% import "../../shared/megaMenu/megaMenu.twig" as megaMenu %}
<div class="menu__megamenu">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-6">
				{{megaMenu.render()}}
			</div>
			<div class="col-md-12 col-lg-6">
				{{megaMenu.render()}}
			</div>
		</div>
	</div>
</div>
